html
    head
        meta(charset='UTF-8')
        title Connect 4
        meta(name='keywords' content='connect four, connect 4')
        meta(name='description' content='users active games for connect 4 website')
        meta(name='author' content='L337')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/style/style.css')
        link(rel='stylesheet' href='/style/info_tables.css')
    body
        include ../partials/activegamestable
