html
    head
        meta(charset='UTF-8')
        title Connect 4
        meta(name='keywords' content='connect four, connect 4')
        meta(name='description' content='page for playing connect 4 in browser for connect 4 website')
        meta(name='author' content='L337')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/style/style.css')
        link(rel='stylesheet' href='/style/game.css')
    body
        include ../partials/navbars
        include ../partials/singleplayergame

        script(type='module' src='/javascript/main.js')
        script(type='module' src='/javascript/single_player_game.js')