#content_pane.content
    #home_page.home_page
        h1 Welcome!
        p Use the buttons on the side bar to navigate.
        p
            | Play against your friends at home in the game tab, or sign up and play against them online!