#content_pane.content
    #game_page.game_page_single
        canvas(width='640' height='580')#game_canvas
        button#restart_game_btn Restart
        button#replay_game_btn Replay Moves
        if guest
            #info_pane
                p Want to play online with friends? Sign up by creating an account in the users tab!