.game_page_single {
    height: 100%;
    width: 100%;
    padding: 20px;
}
.game_page_online {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: max(80%, 640px) 1fr;
    grid-template-rows: 1fr;
}

.game_container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.chat_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
}

#game_canvas {
    /*
    width & height specified in html as putting it here breaks it
    for whatever reason. http://gph.is/XLVEgW
     */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.blue_player {
    color: #0000b3;
}

.red_player {
    color: #b30000;
}

.center_text {
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}